<div class="artist-banner">
  <div class="featured-img">
    {% if collection.featured_image != blank %}
      <img 
        data-class="LazyLoad"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ collection.featured_image | img_url: 'master' }}"
        data-mob-src="{{ collection.featured_image | img_url: '720x' }}"
        alt="" width="{{ collection.image.width }}" height="{{ collection.image.height }}" loading="lazy">
    {% endif %}
  </div>
  <div class="page-width">
    <div class="banner-content">
      <h1>{{- collection.title | escape -}}</h1>
      <p>{{ collection.description }}</p>
    </div>
  </div>
</div>





{% schema %}
  {
    "name": "Artist Banner",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Artist Banner"
      }
    ]
  }
  {% endschema %}