<div class="ideas_section_main">
  <div class="page-width">
    <div class="ideas_section_content">
      <div class="heading">
        <div class="main_title">
          <h2 class="title">
            {{ section.settings.heading }}
          </h2>
          <p>{{ section.settings.subheading }}</p>
        </div>
        <div class="swiper-icons">
          <div class="swiper-prev-btn">
            <img src="https://cdn.shopify.com/s/files/1/0726/5094/8955/files/Asset8.svg?v=1686581910"/>
          </div>
          <div class="swiper-next-btn">
            <img src="https://cdn.shopify.com/s/files/1/0726/5094/8955/files/Asset8.svg?v=1686581910">
          </div>
        </div>
      </div>
      <div class="ideas_section_blocks">
        <div class="content">
          <div class="swiper ideasTemplate">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% case block.type %}
                 {% when 'boxes' %}         
                  <div class="swiper-slide mobile-width">
                   <div class="box">
                      <div class="image">
                        <img src="{{ block.settings.img | img_url: 'large'}}">
                        <div class="img_text">
                          {{ block.settings.img_text }}
                        </div>
                      </div>
                      <div class="text_content">
                        <div class="heads">
                          <h3>{{ block.settings.title }}</h3>
                          <p>{{ block.settings.desc }}</p>
                        </div>
                        <div class="buttn">
                          <a href="{{ block.settings.butn_url }}">{{ block.settings.butn_text }}</a>
                        </div>
                      </div>
                     </div>
                    </div>
                 {% endcase %}
               {% endfor %}          
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="lazyload_js">
$(document).ready(function() {
  var swiper = new Swiper(".ideasTemplate", {
    loop: false,
    slidesPerView: 1.35,
    paginationClickable: true,
    spaceBetween: 16,
    freeMode: true,
    navigation: {
      nextEl: ".swiper-next-btn",
      prevEl: ".swiper-prev-btn",
    },
    breakpoints: {
        768: {
          slidesPerView: 4,
          spaceBetween: 20,
        }
      },
  });
});
</script>



{% schema %}
  {
    "name": "Home Ideas Section",
    "class": "ideas-template-section",
    "settings": [
      {
         "type": "text",
         "id": "heading",
         "label": "Main Heading"
       },
       {
         "type": "text",
         "id": "subheading",
         "label": "Subheading"
       }
    ],
    "blocks": [
     {
       "name": "Templates",
       "type": "boxes",
       "settings": [
           {
              "type": "image_picker",
              "id": "img",
              "label": "Template Image"
            },
           {
              "type": "text",
              "id": "img_text",
              "label": "Template Image Text"
            },
           {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "text",
             "id": "desc",
             "label": "Description"
           },
           {
             "type": "text",
             "id": "butn_text",
             "label": "Button text"
           },
           {
             "type": "url",
             "id": "butn_url",
             "label": "Button Url"
           }
       ]
     }
   ],
    "presets": [
      {
        "name": "Home Ideas Section",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}